@use '../../styles/variables' as *;

.footer {
  background-color: $background-dark;
  color: white;
  padding: 60px 40px;
  margin-top: 100px;

  @include mobile-small {
    padding: 50px 30px 45px;
  }

  .content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 50px;
    margin-bottom: 0;

    @include tablet {
      max-width: 860px;
    }

    @include mobile-small {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      padding: 0;
      padding-bottom: 50px; // Distance to line
      margin-bottom: 0; // Copyright has padding-top
    }

    .leftColumn {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .desktopCopyright {
        color: #666;
        font-size: 14px;

        @include mobile-small {
          display: none;
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-size: 24px;

      img {
        filter: invert(1);
      }
    }

    .links {
      display: flex;
      gap: 70px;
      
      @include tablet {
        gap: 50px;
      }

      @include mobile-small {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start; // Align left
      }
      
      a {
        color: #999;
        transition: color 0.2s;
        
        &:hover {
          color: white;
        }
      }
    }
  }

  .copyright {
    color: #666;
    font-size: 14px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 25px 20px 0;
    text-align: center;
    display: none; // Hidden on desktop

    @include tablet {
      max-width: 860px;
    }

    @include mobile-small {
      display: block; // Visible on mobile
      padding: 25px 0 0;
      text-align: center;
    }
  }
}
